body {
  margin:0;
}

.photo-container-small{
  display: none;
}

.banner {
  height: 100%;
}

.header {
  text-align: left;
  margin-bottom: 20px;
  font-size: 40px;
}

#venue {
  color: rgb(255, 255, 255);
  height: 115%;
  text-align: left;
  background-color: rgb(0, 11, 50);
  padding-bottom: 40px;
  min-height:100%;
}

#pictures {
  background-color: white;
  min-height:100%;
  padding-bottom: 50px;
}

.photo-container {
  width: 1100px;
  display: table;
  margin: 0 auto;
}

#pictures .header {
  color: black;
}

#info {
  color: white;
  display: inline-block;
  font-size: 50px;
  padding-right: 40px;
  float: left;
  width: 48%;
  text-align: right;
}

#info p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#info a {
  padding-top: 10px;
  color: rgb(156, 0, 135);
}

#info a:hover {
  color: rgb(215, 0, 186);
}

.content {
  background-color: rgb(70, 70, 70);
  color: white;
}

.content h1 {
  z-index: 999;
  margin: 0;
  text-align: center;
}

.content h2 {
  margin: 0;
}

.main {
  font-family: 'Charm', sans-serif;
  font-style: normal;
  text-align: center;
  color: black;
  height:100%;
  width:100%;
}

.picture {
  background-image: url(../img/woods_50.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.countdown-container {
  float: right;
  right:0;
  font-size: 25px;
  color: white;
  vertical-align: middle;
  width: 15%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.51);
}

.countdown-container p {
  margin-top: 75px;
  margin-bottom: 30px;
}

#countdown {
  color: rgb(181, 181, 181);
  font-size: 54px;
}

#countdown h2 {
  font-size: 24px;
  margin: 0;
}

.countdown-element {
  margin-bottom: 1px;
  font-weight:bold;
  display: block;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  height: 550px;
  text-align: center;
  position: relative;
}

.grid-item--big { width: 1000px; height: 667px; }
.grid-item--width { width: 600px; height: 400px; }
.grid-item--height {  width: 400px; height: 600px; }

@media only screen and (max-width: 850px) {
  .countdown-container p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .countdown-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
  }

  #countdown h2 {
    margin: 0;
  }

  .countdown-element {
    font-family: 'Charm', sans-serif;
    font-weight:bold;
    display: inline-block;
    width: 20%;
  }

  #info {
    position: relative;
    padding: 0;
    float: unset;
    font-size: 24px;
    text-align: center;
    display: block;
    width: auto;
    margin-bottom: 32px;
  }

  .photo-container {
    width: 700px;
  }

  .grid-item--big { width: 600px; height: 400px; }
  .grid-item--width { width: 600px; height: 400px; }
  .grid-item--height {  width: 600px; height: 900px; }
}

@media only screen and (max-width: 768px) {
  .countdown-container {
    font-size: 32px;
    bottom: 0;
    width: 100%;
    height: 150px;
  }

  #countdown h2 {
    font-size: 20px;
    margin: 0;
  }

  .countdown-element {
    font-size: 30px;
    width: 20%;
  }

  .photo-container {
    width: 650px;
  }

  .grid-item--big { width: 600px; height: 400px; }
  .grid-item--width { width: 600px; height: 400px; }
  .grid-item--height {  width: 600px; height: 900px; }
}

@media only screen and (max-width: 600px) {
  .countdown-container p {
    font-size: 16px;
    height: 40px;
    bottom: 0;
    width: 100%;
  }

  #countdown h2 {
    font-size: 10px;
    margin: 0;
  }

  .countdown-element {
    font-size: 20px;
    font-family: 'Charm', sans-serif;
    font-weight:bold;
    display: inline-block;
    width: 20%;
  }

  .photos h1 {
    font-size: 85%;
  }

  .photo-container-small {
    visibility: visible;
    max-width: 350px;
    display: table;
    margin: 0 auto;
  }

  .photo-container {
    display: none;
  }

  .grid-item--big { width: 250px; height: 167px; }
  .grid-item--width { width: 250px; height: 167px; }
  .grid-item--height {  width: 250px; height: 375px; }
}
