#map {
  /* text-align: center; */
  display: table;
  margin: 0 auto;
  width: 830px;
  height: 550px;
  /* display: inline-block; */
}

@media only screen and (max-width: 850px) {
  #map {
    display: table;
    margin: 0 auto;
    width: 95%;
    height: 550px;
  }
}
