#map {
  text-align: left;
  width: 40%;
  height: 65%;
  display: inline-block;
}

@media only screen and (max-width: 850px) {
  #map {
    display: table;
    margin: 0 auto;
    width: 95%;
    height: 750px;
  }
}
